# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.pytest_cache/

# Data and Large Files
*.csv
*.wav
*.bdf
*.zip
*.pt
*.model
*.pkl

# Notebooks
.ipynb_checkpoints/
